parameters:
    ignoreErrors:
        -
            message: '#Trait App\\Concerns\\ProfileValidationRules is used zero times#'
            path: app/Concerns/ProfileValidationRules.php
        -
            message: '#Method App\\Actions\\Fortify\\.*::passwordRules.*should return#'
            path: app/Concerns/PasswordValidationRules.php
        -
            message: '#Method App\\Rules\\TeamName::routesPrefixes.*has no value type#'
            path: app/Rules/TeamName.php
